*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    transition: all .2s linear;
    text-transform: capitalize;
}

.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:70%;
    margin: 0 auto;
}
a{
    color: grey;
    text-decoration: none;
    padding: 2em;

}

a.logo{
    font-weight: bold;
}

nav ul { display: flex;}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}


button {
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    
}

button:hover{
    box-shadow: 10px 5px 5px #FFBD00;
    transform: translateY(-0.25em);
}

.login{
    background-color: #bebebe;
}
.carrito{
    padding: 0.71em 1em;
}